body{
	background: #ffffff;
	text-align: center;
	padding: 20px;
	color: red;
	font:14px/21px Arial,Helvetica,sans-serif;
}
a {
	color: red;
}
a:hover{
	text-decoration: none;
	color:green;
}
canvas{
	border: 1px solid black;
	cursor: pointer;
}